* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'roboto', 'sans-serif';
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}
.final-score {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 520px;
	color: #555;
	font-family: 'roboto', 'sans-serif';
	font-size: 10px;
	text-align: center;
	padding: 10px;
	width: 100px;
	text-transform: uppercase;

}
.final-score:focus {
	outline: none;
}
#dice-1 {
	top: 120px;
}
#dice-2 {
	top: 250px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
	width: 1000px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #fff;
	box-shadow: 0px 50px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	
}
.player-0-panel,
.player-1-panel {
	width: 50%;
	float: left;
	height: 600px;
	padding: 100px;
}
.player-name {
	font-size: 40px;
	text-align: center;
	letter-spacing: 2px;
	font-weight: 100;
	margin-top: 20px;
	text-transform: uppercase;
	margin-bottom: 10px;
	position: relative;
}
.player-score {
	font-size: 80px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 100;
	margin-left: 20px;
	margin-bottom: 130px;
	position: relative;
}

.active { background-color: #f7f7f7;}

.active .player-name {
	font-weight: 300;
}
.active .player-name::after {
	content: "\2022";
	font-size: 47px;
	position: absolute;
	color: #eb4d4d;
	top: -7px;
	right: 10px;
}

.player-current-box {
	background-color: #ed4d4d;
	color: #fff;
	width: 40%;
	margin: 0 auto;
	padding: 12px;
	text-align: center;
}

.player-current-label {
	text-transform: uppercase;
	margin-bottom: 10px;
	font-size: 10px;
	color: #122;
}

.player-current-score {
	font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
} 

button:hover {
	font-weight: 600;
	margin-right: 20px;
}

button:focus {
	outline: none;
}

i {
	color: #ed4d4d;
	display: inline-block;
	font-size: 32px;
	line-height: 1;
	vertical-align: text-top;
	margin-top: -4px;
	transition: margin 0.3s;
}

.btn-new { top: 45px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner {
	background-color: #f7f7f7; 
}
.winner .player-name { 
	font-weight: 300; color: #EB4D4D;
 }












































































